{% extends 'baseUser.html' %}

{% block style %}
<style>
  .qt,
  .qt-plus,
  .qt-minus {
    display: block;
    float: left;
  }

  .qt {
    font-size: 19px;
    line-height: 50px;
    width: 70px;
    text-align: center;
  }

  .qt-plus,
  .qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 20px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
  }

  .qt-plus:hover,
  .qt-minus:hover {
    background: #53b5aa;
    color: #fff;
    cursor: pointer;
  }

  .qt-plus {
    line-height: 50px;
  }

  .qt-minus {
    line-height: 47px;
  }
</style>

{% endblock %}

{% block bredcrum %}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text product-more">
          <a href="/"><i class="fa fa-home"></i> Home</a>
          <a href="/?user/product-view/shop">Shop</a>
          <span>Check Out</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

{% endblock %}

{% block shoppingCart %}

<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
  <div class="container">
    <form class="checkout-form">
      <div class="row">
        <div class="col-lg-6">
          <h4>Thông tin chi tiết nhận hàng</h4>
          <div class="row">
            <div class="col-lg-12">
              <label for="cun-name"> Họ tên người nhận <span>*</span></label>
              <input type="text" id="cun-name" name="cun-name" value="{{ current_homePage.name }}" />
            </div>
            <div class="col-lg-12">
              <label for="street"> Địa chỉ người nhận <span>*</span></label>
              <input type="text" id="street" class="street-first" name="street" />
            </div>
            <div class="col-lg-12">
              <label for="phone">Số Điện thoại người nhận <span>*</span></label>
              <input type="text" id="phone" name="phone" value="{{ current_homePage.phone_number }}" />
            </div>
            <input type="hidden" id="id" value="{{current_homePage.user_id}}">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="place-order">
            <h4>Đơn Hàng Của Bạn </h4>
            <div class="order-total">
              <ul class="order-table">
                <li>Product <span>Total</span></li>
                {% if ( products ) %}
                {% for product in products %}
                <li class="fw-normal" style=" height: 60px;">
                  <input type="hidden" id="masp" value="{{ product.pro_id }}" name="pro_id">
                  <input type="hidden" id="quantity" value="{{ quantity }}" name="quantity">
                  {% if ( product.giasau == 0 ) %}
                  <span style=" margin-top: -25px;"> {{ product.price|number_format(0, '.', ',') }} VND </span>
                  {% else %}
                  <span style=" margin-top: -25px;"> {{ product.giasau|number_format(0, '.', ',') }} VND </span>
                  {% endif %}
                  <span style=" float: left;margin-top: -25px; overflow: hidden;
                  white-space: nowrap;text-overflow: Ellipsis;width: 350px;" title="{{product.name}}"> {{product.name}}
                  </span>
                  <span>X {{quantity}}</span>
                </li>
                {% if ( product.giasau == 0 ) %}
                <!-- <li class="fw-normal">Subtotal <span> {{ (product.price * quantity)|number_format(0, '.', ',')}} VND
                  </span></li> -->
                <li class="total-price">Total <span> {{ (product.price * quantity)|number_format(0, '.', ',')}} VND
                  </span></li>
                {% else %}
                <!-- <li class="fw-normal">Subtotal <span> {{ (product.giasau * quantity)|number_format(0, '.', ',')}} VND
                  </span></li> -->
                <li class="total-price">Total <span> {{ (product.giasau * quantity)|number_format(0, '.', ',')}} VND
                  </span></li>
                {% endif %}
                {% endfor %}
                {% endif %}

                {% if ( carts ) %}
                {% for cart in carts %}
                    <li class="fw-normal" style=" height: 60px;">
                      <input type="hidden" id="masp" value="{{ cart.pro_id }}" name="pro_id">
                      <input type="hidden" id="quantity" value="{{ cart.quantity }}" name="quantity">
                      <input type="hidden" id="check" value="{{ check }}" name="check">
                      {% if ( cart.giasau == 0 ) %}
                      <span style=" margin-top: -25px;"> {{ cart.price|number_format(0, '.', ',') }} VND </span>
                      {% else %}
                      <span style=" margin-top: -25px;"> {{ cart.giasau|number_format(0, '.', ',') }} VND </span>
                      {% endif %}
                      <span style=" float: left;margin-top: -25px; overflow: hidden;
                      white-space: nowrap;text-overflow: Ellipsis;width: 350px;" title="{{ cart.name }}"> {{cart.name}}
                      </span>
                      <span>X {{cart.quantity}}</span>
                    </li>
                    {% if ( cart.giasau == 0 ) %}
                    <li class="fw-normal">Subtotal <span> {{ (cart.price * cart.quantity)|number_format(0, '.', ',')}} VND
                      </span></li>
                    <li class="total-price">Total <span> {{ (cart.price * cart.quantity)|number_format(0, '.', ',')}} VND
                      </span></li>
                    {% else %}
                    <li class="fw-normal">Subtotal <span> {{ (cart.giasau * cart.quantity)|number_format(0, '.', ',')}} VND
                      </span></li>
                    <li class="total-price">Total <span> {{ (cart.giasau * cart.quantity)|number_format(0, '.', ',')}} VND
                      </span></li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
              <div class="order-btn">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <button class="site-btn place-btn place-order" id="place-ordersc"
      style=" position: absolute;margin-top: -70px;margin-left: 800px;">
      Place Order
    </button>
  </div>
</section>
<!-- Shopping Cart Section End -->

{% endblock %}


{% block script %}

<script>

  $(document).ready(function () {
    $('#place-ordersc').click(function (event) {

      if ($('#cun-name').val() == false || $('#street').val() == false || $('#phone').val() == false) {
        alert(" Hãy nhập thông tin nhận hàng ! ");
      }
      else {

        if ($('#check').val()){
          var name = $('#cun-name').val();
          var address = $('#street').val();
          var phone = $('#phone').val();
          var pro_id = $('#masp').val();
          var user_id = $('#id').val();
          window.location="/?user/check-out/add-out&user_id="+user_id+"&name="+name+"&address="+address+"&phone="+phone

        }else{
          var name = $('#cun-name').val();
          var address = $('#street').val();
          var phone = $('#phone').val();
          var pro_id = $('#masp').val();
          var quantity = $('#quantity').val();
          var user_id = $('#id').val();
          
          window.location="/?user/check-out/add-order&pro_id="+pro_id +"&quantity="+quantity+"&user_id="+user_id+"&name="+name+"&address="+address+"&phone="+phone
        }
      }
    });
  });

</script>

{% endblock %}