
{% extends 'baseUser.html' %}

{% block section %}

<!-- Hero Section Begin -->
<section class="hero-section" style="height: 362px;">
  <div class="hero-items owl-carousel">
    {% for promotion in promotions %}
    <div class="single-hero-items set-bg" 
    data-setbg="public/admin/img/promotion/{{ promotion.image }}" style=" height: 500px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <span>Bag,kids</span>
            <h1 >{{ promotion.name }}</h1>
            <p >
              {{promotion.description }}
            </p>
          </div>
        </div>
        <div class="off-card">
          <h2>Sale% <span >{{ promotion.percent }}%</span></h2>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- Hero Section End -->

{% endblock %}

{% block banner %}
<!-- Banner Section Begin -->
<div class="banner-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="https://lh3.googleusercontent.com/i79fPjQfZA1aaraOsH6iPurN5P9C-Ix8UefLKDqfXCSj1H81f2wCuyzT4l3SxxHT59ycp59tkNH972bXhujdksrIfgsi3T8=rw-w308"
           alt="" />
          <div class="inner-text">
            <h4>Apple</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="https://lh3.googleusercontent.com/ogJcpLcX9kMGmbiU0-JL_5MGwWQRRzERhdlKkQwrwlPJtVClnkdzlr6SLfLLm3UyhCSYBpuiRhjgAO-pR-7m53lYyHtXr_bvhQ=rw-w308"
           alt="" />
          <div class="inner-text">
            <h4>Gaming Gear</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="https://lh3.googleusercontent.com/xN9fCLriAdNmUEilmrfWsMdeju9bsi76GaKV2oF_9QmZTL3tgM1Z92f4hb-T1YF6Crsu7M5Xo9R2TN7FAZOw9rVRwAXpEW22mA=rw-w308"
           alt="" />
          <div class="inner-text">
            <h4>Máy tính và phụ kiện</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section End -->
{% endblock %}

{% block productBanner %}
<!-- Women Banner Section Begin -->
<section class="women-banner spad" s>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-11 offset-lg-1">
        
        <div class="product-slider owl-carousel" 
        style=" text-align: -webkit-center;
        background-repeat: no-repeat;
         background-image : url(https://lh3.googleusercontent.com/ky_GJGmEndHVI1zTkniniGPCiYMcZWsHpQSQq7RdnPIjTSkX5JkkCGlj5UufJSAlK4vrglarbvu1JIaGZdmULEWXgJzEjPB6Iw=w1232)"
        >

        <!-- product laptop   -->
          {% for product in productLaptops %}
          <div class="product-item" style="margin-top: 50px; width: 270px;">
            <div class="pi-pic" >
              <img src=" public/admin/img/products/{{product.image}} " alt="" />
              {% if ( product.giasau > 0) %}
              <div class="sale" >Sale </div>
              {% endif %}
              <div class="icon">
                <i class="icon_heart_alt"></i>
              </div>
              <ul>
                <li class="quick-view"><a href="/?user/product-view/{{ product.pro_id }}/detail">+ Quick View</a></li>
              </ul>
            </div>
            <div class="pi-text" style="background: white; padding-top: 0;">
              <div class="catagory-name"> {{ product.productTypeName }} </div>
              <a >
                <div style="overflow: hidden;white-space: nowrap;text-overflow: Ellipsis;width: 200px;margin: auto;" >
                  {{ product.name }}
                </div>
              </a>
              {% if ( product.giasau > 0) %}
              <div class="product-price"  >
                <label > {{ product.giasau|number_format(0, '.', ',') }} VND </label>
                <span > {{ product.price|number_format(0, '.', ',') }} VND</span>
              </div>
              {% else %}
              <div class="product-price" >
                {{ product.price|number_format(0, '.', ',') }} VND
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}

          <!-- hết -->
<!--              hết-->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-11 offset-lg-1">
      
        <div class="product-slider owl-carousel" 
        style=" text-align: -webkit-center;
        background-repeat: no-repeat;
         background-image : url(https://lh3.googleusercontent.com/9_T_mRMMhRAUWuSkBA1QwbirKPqbgw5hG3Le_AOxttHf7C4LiocKknIfPWcRnp82BG6vTWNWwKK4PRncKQPKW-XjBiJL9B8c=w1232)"
        >

        <!-- product linh kien   -->
          {% for product in productLinhKiens %}
          <div class="product-item" style="margin-top: 50px; width: 270px;">
            <div class="pi-pic" >
              <img src=" public/admin/img/products/{{product.image}} " alt="" />
              {% if ( product.giasau > 0) %}
              <div class="sale" >Sale </div>
              {% endif %}
              <div class="icon">
                <i class="icon_heart_alt"></i>
              </div>
              <ul>
                <li class="quick-view"><a href="/?user/product-view/{{ product.pro_id }}/detail">+ Quick View</a></li>
              </ul>
            </div>
            <div class="pi-text" style="background: white; padding-top: 0;">
              <div class="catagory-name"> {{ product.productTypeName }} </div>
              <a >
                <div style="overflow: hidden;white-space: nowrap;text-overflow: Ellipsis;width: 200px;margin: auto;" >
                  {{ product.name }}
                </div>
              </a>
              {% if ( product.giasau > 0) %}
              <div class="product-price"  >
                <label > {{ product.giasau|number_format(0, '.', ',') }} VND </label>
                <span > {{ product.product|number_format(0, '.', ',') }} VND</span>
              </div>
              {% else %}
              <div class="product-price" >
                {{ product.product|number_format(0, '.', ',') }} VND
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}

          <!-- hết -->
<!--              hết-->
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Women Banner Section End -->
{% endblock %}