{% extends 'baseUser.html' %}

{% block style %}

<style>
    /*https://www.cssscript.com/simple-5-star-rating-system-with-css-and-html-radios/*/
    div.stars {
        width: 250px;
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 30px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked~label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked~label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1:checked~label.star:before {
        color: #F62;
    }

    input.star-2:checked~label.star:before {
        color: #F94;
    }

    input.star-3:checked~label.star:before {
        color: #FA4;
    }

    label.star:hover {
        transform: rotate(10deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }
</style>
{% endblock %}


{% block accountMe %}

<!-- tài khoản của tôi -->
<div class="me-container">
    <div class="me-left" role="tablist">
        <ul class="nav" role="tablist" style="flex-direction: column;">
            <li>
                <i class="fa fa-unlock-alt" style="margin-right : 10px"></i>
                <a data-toggle="tab" href="#tab-1" role="tab">Đổi mật khẩu</a>
            </li>
            <li style="margin-top : 20px">
                <i class="fa fa-clipboard" style="margin-right : 10px"></i>
                <a class="active" data-toggle="tab" href="#tab-2" role="tab">Đơn mua</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade me-password" id="tab-1" role="tabpanel">
            <div class="title">
                <input type="hidden" value="{{ current_homePage.user_id }}" id="user_id"/>
                <input type="hidden" value="{{ current_homePage.email }}" id="email"/>
                <h1 class="title-1" style="font-size: 20px;">
                    Đổi Mật Khẩu
                </h1>
                <div class="title-2">
                    Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác
                </div>
            </div>

            <div class="title-content">
                <div class="mk">
                    <div class="mk-nho">
                        <div class="mk1">
                            <label>Mật Khẩu Hiện Tại * </label>
                            <input id="password-old" type="password" name="password" required>
                            <i style=" position: absolute;                                    
                                        right: 35%;" class="bi bi-eye-slash" id="togglePassword"></i>
                            <button id="forwart" onclick="ShowModal()"
                                style="border: none;background-color: white;margin-left: 50px; cursor: pointer;">
                                Quên mật khẩu ?
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mk">
                    <div class="mk-nho">
                        <div class="mk1">
                            <label>Mật Khẩu Mới * </label>
                            <input type="password" id="password_new" name="password-new" required>
                            <i style=" position: absolute; 
                                        right: 35%;" class="bi bi-eye-slash" id="togglePasswordNew"></i>
                        </div>
                    </div>
                </div>
                <div class="mk">
                    <div class="mk-nho">
                        <div class="mk1">
                            <label>Nhập Lại Mật Khẩu * </label>
                            <input id="confim-password" type="password" name="password_con" required>
                            <i style=" position: absolute;                     
                                        right: 35%;" class="bi bi-eye-slash" id="togglePasswordCon"></i>
                        </div>
                    </div>
                </div>
                <button style="background-color: red;
                border: none;
                padding: 10px 20px;
                color: white;" id="xn">Xác Nhận</button>
            </div>
        </div>
        <div class="tab-pane fade-in active" id="tab-2" role="tabpanel">
            <div class="tab-item">
                <ul class="nav" role="tablist">
                    <li>
                        <a data-toggle="tab" href="#tab-6" role="tab"> Tất cả đơn </a>
                    </li>
                    <li>
                        <a class="active" data-toggle="tab" href="#tab-3" role="tab"> CHỜ XÁC NHẬN </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-4" role="tab">ĐÃ GIAO </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-5" role="tab"> ĐÃ HỦY </a>
                    </li>
                </ul>
            </div>
            <div class="tab-item-content">
                <div class="tab-content" style="margin: 0;
                    padding: 0;
                    width: 950px;
                    margin-top: 50px;">
                    <div class="tab-pane fade-in active" id="tab-3 " role="tabpanel">
                        <div id="load_data"></div>
                    </div>
                    <div class="tab-pane fade" id="tab-4" role="tabpanel">
                        <div id="load_data1"></div>
                    </div>
                    <div class="tab-pane fade" id="tab-5" role="tabpanel">
                        <div id="load_data2"></div>

                    </div>
                    <div class="tab-pane fade" id="tab-6" role="tabpanel">
                        <div class="tk">
                            <input autocomplete="off"
                                placeholder="Tìm kiếm theo Tên Shop, ID đơn hàng hoặc Tên Sản phẩm">
                        </div>
                        <div id="load_data3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- kết thúc tài khoản của tôi -->

<div class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    align=center id="resetPassword">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" align=center style="display: block;">
                    <h3> Quên mật khẩu </h3>

                    <form class="form-horizontal" method="post" action="/?user/login/reset-password">

                        <div class="form-group">
                            <label class="control-label col-sm-8" for="name">
                                Nhập emai tài khoản đăng nhập *
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" style="width: 70% ;" placeholder="Nhập email  "
                                    name="email" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block evaluete %}

<!-- phần modal của đánh giá  -->
<div class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    align=center>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" align=center style="flex-direction: column;">
                    <h3> Đánh giá của người mua về sản phẩm </h3>
                    <div class="comment-area">
                        <div class="guiBinhLuan" style="display: flex;
                                                    flex-direction: column;
                                                    margin-top: 30px;">
                            <div class="stars">
                                <form action="" class="myform">
                                    <input class="star star-5" id="star-5" value="5" type="radio" name="star" />
                                    <label class="star star-5" for="star-5" title="Tuyệt vời"></label>

                                    <input class="star star-4" id="star-4" value="4" type="radio" name="star" />
                                    <label class="star star-4" for="star-4" title="Tốt"></label>

                                    <input class="star star-3" id="star-3" value="3" type="radio" name="star" />
                                    <label class="star star-3" for="star-3" title="Tạm"></label>

                                    <input class="star star-2" id="star-2" value="2" type="radio" name="star" />
                                    <label class="star star-2" for="star-2" title="Khá"></label>

                                    <input class="star star-1" id="star-1" value="1" type="radio" name="star" />
                                    <label class="star star-1" for="star-1" title="Tệ"></label>
                                    <input type="hidden" id="maspdg" />
                                </form>
                            </div>
                            <textarea maxlength="250" id="inpBinhLuan"
                                placeholder="Viết suy nghĩ của bạn vào đây..."></textarea>
                            <button id="sendmessage" style="    margin-top: 30px;
                                width: 150px;
                                border: none;
                                background-color: darkorange;
                                color: white;
                                padding: 10px;"> SEND MESSAGE </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<!-- phần kết thúc modal cảu add  -->

{% endblock %}

{% block script %}

<script>

    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password-old");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });

    const togglePasswordNew = document.querySelector("#togglePasswordNew");
    const passwordNew = document.querySelector("#password_new");

    togglePasswordNew.addEventListener("click", function () {
        // toggle the type attribute
        const type = passwordNew.getAttribute("type") === "password" ? "text" : "password";
        passwordNew.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });

    const togglePasswordCon = document.querySelector("#togglePasswordCon");
    const passwordCon = document.querySelector("#confim-password");

    togglePasswordCon.addEventListener("click", function () {
        // toggle the type attribute
        const type = passwordCon.getAttribute("type") === "password" ? "text" : "password";
        passwordCon.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });

    function ShowModal() {

        $('#resetPassword').modal('show');

    }

    $(document).ready(function () {

        $('#xn').click(function (event) {

            var passwordOld = $("#password-old").val();
            var passwordNew = $("#password_new").val();
            var confimPassword = $("#confim-password").val();

            if (passwordOld != "" && passwordNew != "" && confimPassword != "" ){

                if (confimPassword == passwordNew){

                    $.ajax({
                    url: "/?user/login/change-password",
                    type: "POST",
                    data: {
                        id: $('#user_id').val(),
                        email: $('#email').val()
                    },
                    success: function (data) {
                        window.location = "/?user/purchase/" + $('#user_id').val() + "/index"
                    },
                    error: function (e) {
                        alert(e);
                    }
                    });

                    }
                    else{
                    alert(" xác nhận mật khẩu không chính xác  ")
                    }

            }
            else{
                alert(" phải nhập những ô đánh dấu *  ")
            }

        });
    });

</script>

{% endblock %}