
{% extends 'baseUser.html' %}

{% block bredcrum %}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="/"><i class="fa fa-home"></i> Home</a>
          <span>Register</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Form Section Begin -->

{% endblock %}

{% block register %}
<!-- Register Section Begin -->
<div class="register-login-section spad">
  {% for message in flash_messages %}
			<div  
      style="text-align: center;color: red;font-size: 20px;height: 40px;">
				{{ message.body }}
			</div>
	{% endfor %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="register-form">
          <h2>Register</h2>
          <form action="/?user/login/add" method='POST' >
            <div class="group-input">
              <label for="username"> First and Last name *</label>
              <input type="text" id="name" name="name" value="{{name}}"/>
            </div>
            <div class="group-input">
              <label for="username"> Phone Number *</label>
              <input type="text" id="sdt" name="phone_number" value="{{phone_number}}"/>
            </div>
            <div class="group-input">
              <label for="username"> Email address *</label>
              <input type="email" id="username" name="email" value="{{email}}"/>
            </div>
            <div class="group-input">
              <label for="pass">Password *</label>
              <input type="password" id="password" name="password"/>
            </div>
            <i style=" position: absolute;
              top: 472px;
              right: 5%;" class="bi bi-eye-slash" id="togglePassword"></i>
            <div class="group-input">
              <label for="con-pass">Confirm Password *</label>
              <input type="password" id="con-password" name="con_password"/>
              <i style=" position: absolute;
              top: 589px;
              right: 5%;" class="bi bi-eye-slash" id="togglePasswordCon"></i>
            </div>
            <button type="submit" id="adduser" class="site-btn register-btn">
              REGISTER
            </button>
          </form>
        
          <div class="switch-login">
            <a href="/?loginUser" class="or-login">Or Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Register Form Section End -->
{% endblock %}

{% block script %}

<script>

  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#password");

  togglePassword.addEventListener("click", function () {
    // toggle the type attribute
    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);

    // toggle the icon
    this.classList.toggle("bi-eye");
  });

  const togglePasswordCon = document.querySelector("#togglePasswordCon");
  const con_password = document.querySelector("#con-password");

  togglePasswordCon.addEventListener("click", function () {
    // toggle the type attribute
    const type = con_password.getAttribute("type") === "password" ? "text" : "password";
    con_password.setAttribute("type", type);

    // toggle the icon
    this.classList.toggle("bi-eye");
  });

</script>

{% endblock %}

