{% extends 'baseUser.html' %}

{% block style %}

<style>
  .act {
    color: #e7ab3c;
  }

  .actsize {
    color: white;
    background-color: black;
  }
</style>

{% endblock %}

{% block bredcrum %}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="/"><i class="fa fa-home"></i> Home</a>
          <span>Shop</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->


{% endblock %}

{% block product %}

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
  <div class="container">
    <div class="row">
      <div class="
          col-lg-3 col-md-6 col-sm-8
          order-2 order-lg-1
          produts-sidebar-filter
        ">
        <div class="filter-widget">
          <h4 class="fw-title">group product</h4>
          <ul class="filter-catagories" style="height: 250px;
          overflow: auto;">
            {% for groupProduct in groupProducts %}
            {% if ( group == groupProduct.pg_id ) %}
            <li>
              <a href="?user/product-view/shop&group={{ urlGroup }}1" class="btnloaisp" 
              data-loaisp="{{ groupProduct.pg_id }}" style="border: none; color: black;
              font-weight: bold; background: none;"> {{ groupProduct.name }} </a>
            </li>
            {% else %}
            <li>
              <a href="?user/product-view/shop&group={{ groupProduct.pg_id  }}{{ urlGroup }}1" class="btnloaisp" 
              data-loaisp="{{ groupProduct.pg_id }}" style="border: none;
                        background: none;"> {{ groupProduct.name }} </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">type product</h4>
          <ul class="filter-catagories" style="height: 250px;
          overflow: auto;">
            {% for typeProduct in typeProducts %}
            {% if ( type == typeProduct.pt_id ) %}
            <li>
              <a href="?user/product-view/shop&type={{ urlType }}1" class="btnloaisp" 
              data-loaisp="{{ typeProduct.pt_id }}" style="border: none; color: black;
              font-weight: bold; background: none;"> {{ typeProduct.name }} </a>
            </li>
            {% else %}
            <li>
              <a href="?user/product-view/shop&type={{ typeProduct.pt_id  }}{{ urlType }}1" class="btnloaisp" 
              data-loaisp="{{ typeProduct.pt_id }}" style="border: none;
                        background: none;"> {{ typeProduct.name }} </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Brand</h4>
          <ul class="filter-catagories" style="height: 250px;
                      overflow: auto;">
            {% for trademark in trademarks %}
            {% if ( brand == trademark.tra_id ) %}
            <li>
              <a href="?user/product-view/shop&brand={{ urlBrand }}1" class="btnhang" 
              data-hang="{{ trademark.tra_id }}" style="border: none;
                        background: none;"> {{ trademark.name }} </a>
            </li>
            {% else %}
            <li>
              <a href="?user/product-view/shop&brand={{ trademark.tra_id  }}{{ urlBrand }}1" class="btnhang" 
              data-hang="{{ trademark.tra_id }}" style="border: none;
                        background: none;"> {{ trademark.name }} </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        
      </div>
      <div class="col-lg-9 order-1 order-lg-2">

        <div class="product-list">
          <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-sm-6">
              <div class="product-item">
                <div class="pi-pic">
                  <img src="public/admin/img/products/{{ product.image }}" alt="">
                  {% if ( product.giasau > 0) %}
                  <div class="sale" >Sale </div>
                  {% endif %}
                  <div class="icon">
                    <i class="icon_heart_alt"></i>
                  </div>
                  <ul>
                    <li class="quick-view"><a href="/?user/product-view/{{ product.pro_id }}/detail">+ Quick View</a></li>
                  </ul>
                </div>
                <div class="pi-text">
                  <div class="catagory-name">{{ product.productTypeName }}</div>
                  <a href="#">
                    <h5  style="overflow: hidden;white-space: nowrap;text-overflow: Ellipsis;width: 200px;margin: auto;" >
                      {{ product.name }}
                    </h5>
                  </a>
                  {% if ( product.giasau > 0) %}
                  <div class="product-price"  >
                    <label > {{ product.giasau|number_format(0, '.', ',') }} VND </label>
                    <span > {{ product.price|number_format(0, '.', ',') }} VND</span>
                  </div>
                  {% else %}
                  <div class="product-price" >
                    {{ product.price|number_format(0, '.', ',') }} VND
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- phân trang   -->

        {% if ( totalPage > 0 ) %}
        
        <ul class="pagination" role="menubar" aria-label="Pagination">
          {% if ( currentPage > 1 ) %}
          <li><a href="?user/product-view/shop{{ url }}1"><span>First</span></a></li>
          <li><a href="?user/product-view/shop{{ url }}{{currentPage-1}}"><span>Previous</span></a></li>
          {% else %}
          <li style="visibility: hidden; "><a href=""><span>First</span></a></li>
          <li style="visibility: hidden; " class="current"><a href=""><span>Previous</span></a></li>
          {% endif %}

          {% for i in 1..totalPage %}
          <li {% if ( currentPage == i ) %} class="current" {% endif %}><a
                  href="?user/product-view/shop{{url}}{{i}}">{{i}}</a></li>
          {% endfor %}

          {% if ( currentPage < totalPage ) %} <li><a
                  href="?user/product-view/shop{{ url }}{{currentPage+1}}"><span>Next</span></a></li>
              <li><a href="?user/product-view/shop{{ url }}{{totalPage}}"><span>Last</span></a></li>
              {% else %}
              <li style="visibility: hidden; "><a href=""><span>Next</span></a></li>
              <li style="visibility: hidden; "><a href=""><span>Last</span></a></li>
              {% endif %}

      </ul>
      {% endif %}

      </div>
    </div>
  </div>
</section>
<!-- Product Shop Section End -->

{% endblock %}